<div class="container-fluid">
    <div class="row row-speed">
        <div class="col-xs-2 col-sm-4 col-md-3 col-lg-2 title">
            <h1><span class="glyphicon glyphicon-dashboard"></span> <small class="hidden-xs">Speed</small></h1>
        </div>
        <div class="col-xs-10 col-sm-8 col-md-9 col-lg-10 value">
            <h2>{{speed}} <small>m/s</small></h2>
        </div>
    </div>
    <div class="row row-dist">
        <div class="col-xs-2 col-sm-4 col-md-3 col-lg-2 title">
            <h1><span class="glyphicon glyphicon-road"></span> <small class="hidden-xs">Distance</small></h1>
        </div>
        <div class="col-xs-10 col-sm-8 col-md-9 col-lg-10 value">
            <h2>{{dist}} <small>m</small></h2>
        </div>
    </div>
    <div class="row row-time">
        <div class="col-xs-2 col-sm-4 col-md-3 col-lg-2 title">
            <h1><span class="glyphicon glyphicon-time"></span> <small class="hidden-xs">Time</small></h1>
        </div>
        <div class="col-xs-10 col-sm-8 col-md-9 col-lg-10 value">
            <h2>{{ ticks | fmtTime }} <small ng-show="!running">stopped</small></h2>
        </div>
    </div>
    <nav class="navbar navbar-fixed-bottom control-buttons">
        <div class="container-fluid">
            <div class="row" ng-show="running">
                <div class="col-md-12">
                    <button class="btn btn-block" ng-click="toggleState()">Stop</button>
                </div>
            </div>
            <div class="row" ng-show="!running">
                <div class="col-xs-2 col-md-2">
                    <button class="btn btn-block">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="hidden-xs">Back</span>
                    </button>
                </div>
                <div class="col-xs-10 col-md-10">
                    <button class="btn btn-block" ng-click="toggleState()">Continue</button>
                </div>
            </div>
        </div>
    </nav>
</div>
